.img-profile
{
  font-size: 50px;
}

i {
  font-size: 25px;
}

.sidebar {
  border-right: 1px var(--blue) solid;
  position: fixed;
  height: 100%;
  width: 250px;
}

.container-sidebar {
  margin: 15px 15px 15px 15px;
}
