i {
  font-size: 20px;
  color: var(--grey);
}
hr {
  width: 80% !important;
}

span:active {
  color: var(--black);
}

.img-profile
{
  font-size: 40px;
}
.pointer {
  text-decoration: none;
}

.sidebar {
  position: relative;
  border-right: 1px var(--light-grey) solid;
  position: fixed;
  height: 100%;
  width: 230px;
  -webkit-box-shadow: 5px 5px 0px 0px var(--blue-trans), 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff,
    20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 23px 25px 15px -2px rgba(0, 0, 0, 0);
  box-shadow: 5px 5px 0px 0px var(--blue-trans), 10px 10px 0px 0px #5fb8ff, 15px 15px 0px 0px #a1d8ff,
    20px 20px 0px 0px #cae6ff, 25px 25px 0px 0px #e1eeff, 23px 25px 15px -2px rgba(0, 0, 0, 0);
}

.container-sidebar {
  margin: 20px 15px 15px 20px;
}

a:hover {
  text-decoration: underline var(--blue-trans) 2px;
}

.fixed-bottom {
  padding-right: 1600px;
}

.bottom {
  position: absolute;
  bottom: 10px;
}
