thead{
  color:white;
  background-color: var(--blue-trans);
}
tr .btn{
background-color: red; 
}
tr{
  border: 1px solid var(--light-grey);
}
table
{
  border: 4px solid;
}

.tituloPerfil {
  margin-bottom: 50px;
}
.ancho {
  width: 100% ;
}

.horizontal-scroll {
  overflow: hidden;
  overflow-x: auto;
  clear: both;
  width: 100%;
}

.my-table {
  min-width: 100%;
}

.plus
{
    font-size: 25px !important;
    color: var(--white) !important;
}

@media (max-width: 700px){
  .flex-column {
    flex-direction: row !important;
  }
}

@media (max-width: 700px){
  .responsive {
    padding-left: 50px ;
  }
}

@media (max-width: 700px){
  .plus {
    font-size: 20px !important;
  }
}

@media (max-width: 700px){
  .horizontal-scroll {
    width: 300px !important;
  }
}

@media (max-width: 700px){
  .responsive-buscar
  {
    padding: 6px 3px !important;
    margin: 0px !important;
  }
}


