body
{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
}

:root {
    --black: #373737;
    --danger: #FF0000;
    --light-danger: #FFCECE;
    --orange: #ff5b01;
    --light-orange: #FFB088;
    --light-light-orange: #FFE9DE;
    --light-grey: #D0D0D0;
    --dark-grey: #919191;
    --grey: #848484;
    --green: #29CD1E;
    --success: #23C76F;
    --light-success: #D1FFCE;
    --blue: rgb(62, 131, 209);
    --blue-trans: rgba(62, 131, 209, 0.76);
  }

  .text-blue{
      color: var(--blue);
  }
  .text-grey{
    color: var(--grey);
    }

  .pointer
  {
      cursor: pointer;
  }