body
{
    font-family: 'Roboto', sans-serif;
    color: var(--black);
    overflow-x: hidden;
}

:root {
    --black: #161616;
    --danger: #FF0000;
    --light-danger: #FFCECE;
    --orange: #ff5b01;
    --light-orange: #FFB088;
    --light-light-orange: #FFE9DE;
    --light-grey: #D0D0D0;
    --dark-grey: #807e7e;
    --grey: #999999;
    --green: #29CD1E;
    --success: #23C76F;
    --light-success: #D1FFCE;
    --blue: #3e83d1;
    --dark-blue: #2a5c94;
    --blue-trans: #3e83d1c2;
    --light-blue:#5fb8ff;
    --yellow: #ffc107;
    --turques: #00adba;
  }

  .btn-primary
  {
    background-color: var(--blue);
    border: white; 
  }
  .btn-primary:hover
  {
    background-color: var(--light-blue);
  }

  .text-blue{
      color: var(--blue);
  }
  .text-light-blue{
    color: var(--light-blue);
    }
  .text-grey{
    color: var(--grey);
    }
  .text-light-grey{
    color: var(--light-grey);
   }
   .text-yellow{
    color: var(--yellow);
   }
 

  .pointer
  {
      cursor: pointer;
  }